@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

.tooltip:hover .tooltip-info {
  display: block;
  @apply transition duration-200 ease-in-out delay-150;
}

.user-list {
  animation: infinite-scroll 10s linear infinite;
}

.user-list-db {
  animation: infinite-scroll 10s linear infinite;
}

.user-list-container {
  @apply p-2 max-h-10 overflow-hidden [mask-image:_linear-gradient(to_bottom,transparent_0,_black_28px,_black_calc(100%-50px),transparent_100%)]
}

@keyframes infinite-scroll {
  from { transform: translateY(100%)}
  to { transform: translateY(-100%)}
}