@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

body{
  overflow-x: hidden;
}

.tooltip:hover .tooltip-info {
  display: block;
  @apply transition duration-200 ease-in-out delay-150;
}

.user-list {
  animation: infinite-scroll 10s linear infinite;
}

.user-list-db {
  animation: infinite-scroll 10s linear infinite;
}

.user-list-container {
  @apply p-2 max-h-10 overflow-hidden [mask-image:_linear-gradient(to_bottom,transparent_0,_black_28px,_black_calc(100%-50px),transparent_100%)]
}

@keyframes infinite-scroll {
  from { transform: translateY(100%)}
  to { transform: translateY(-100%)}
}

.messageBox {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.messageBox.active {
  transform: translateX(0%);
}

.messageBox .messageBox-content {
  display: flex;
  align-items: center;
}

.messageBox-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #40f4a9;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.messageBox-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.messageBox .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.messageBox .close:hover {
  opacity: 1;
}

.messageBox .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.messageBox .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #40f4a9;
}

.progress.active:before {
  animation: progress 3s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.messageBox.active ~ button {
  pointer-events: none;
} 
