@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

body{
  overflow-x: hidden;
}



.tooltip:hover .tooltip-info {
  display: block;
  @apply transition-all duration-1000 ease-in-out delay-500;
}

.user-list {
  animation: infinite-scroll 20s linear infinite;
}

.user-list-db {
  animation: infinite-scroll 20s linear infinite;
  margin: 20px;
}

  .user-list-container {
    @apply p-2 max-h-40 overflow-hidden [mask-image:_linear-gradient(to_bottom,transparent_0,_black_28px,_black_calc(100%-50px),transparent_100%)]
  }

@keyframes infinite-scroll {
  from { transform: translateY(100%)}
  to { transform: translateY(-100%)}
} 

.status-message {
  visibility: hidden;
  opacity: 0; 
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;

}

.status-message.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 600ms;
}

.status-message.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 200ms linear 200ms, opacity 200ms;
}

.status-message.active {
  display: block;
}

.status-message.success {
  color: rgb(46, 173, 46);
}

.status-message.error {
  color: red;
}
